@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 54, 46, 39;
    --background-rgb: 246, 219, 196;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 246, 219, 196;
    }
}

@font-face {
    font-family: "mountain";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/mountain.otf") format("opentype");
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

svg {
    fill: var(--foreground-rgb);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .mountain {
        font-family: "mountain", sans-serif;
    }

    .swap {
        background: rgb(var(--foreground-rgb));
        color: rgb(var(--background-rgb));
    }
}
